.Container {
  width: 100%;
  margin-top: 50px;
}
.C1, .C2, .C3 {
  width: 40%;
  padding: 10px;
}

.C1 {
  width: 20%;
}

.TeamDetails {
  display: flex;
  padding: 20px;
}

.TeamDetailCard {
  width: 100%;
  height: 300px;
  margin: auto;
  border-radius: 25px !important;
  font-size: 18px;
}

.TeamLogoImage {
  height: 100%;
  padding: 20px;
}

.DetailsBody {
  display: flex;
}

.DetailsLeft,
.DetailsRight {
  padding: 0 20px;
  width: 50%;
  text-align: left;
}