.teamSelect {
  background-color: white;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  margin-bottom: 70px;
  border-top: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
}
.teamSelectList {
  padding: 0px;
  margin: 0 auto;
}

.teamSelectList img {
  width: 2%;
  margin: 0.5%;
  opacity: 0.5;
}

.teamSelectList img:hover {
  opacity: 1;
  cursor: pointer;
}

.selectedTeam {
  opacity: 1 !important;
}
