.SearchControls {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 50px;
  top: 50px;
  background-color: white;
  padding: 20px 0px;
  margin-bottom: 20px;
  border-top: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
}

.TeamSearch {
  width: 40% !important;
  padding: 10px;
}

.SearchButtons button {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: black;
}

.SearchButtons button:active,
.SearchButtons button:focus,
.SearchButtons button:hover {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: black;
  box-shadow: none;
}

.SearchButtonActive {
  background-color: #007bff !important;
  color: white !important;
}

.HideLeague { 
  display: none !important;
}