.teamSearchContainer {
  display: none;
  width: 100%;
}

.hierarchyList {
  width: 90%;
}

@media (max-width: 1150px) {
  .teamSearchContainer {
    display: inline;
  }

  .teamSearchContainer button {
    display: none;
  }

  .teamSearchContainer .teamSearch {
    width: 80% !important;
  }

  .teamSelect {
    display: none;
  }
}
