.leagueBanner {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
}
.leagueImage {
  height: 100px;
  margin-right: 12px;
}
.leagueTitle {
  margin: 0;
  font-size: 32px;
  text-align: left;
}

.divisionTitle {
  text-align: center;
  font-size: 24px;
  color: rgb(128, 126, 126);
  width: 90%;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.line {
  border-top: 1px solid rgb(170, 170, 170);
  flex-grow: 1;
  margin: 0 10px;
}
