.navigation {
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.navigationItem {
  color: white;
  margin: 0;
  font-size: 16px;
  margin-right: 16px;
  font-weight: bold;
}

.navigationItem:nth-child(odd) {
  cursor: pointer;
}
