.App {
  padding: 20px;
  text-align: center;
  background-color: rgba(	237, 238, 240);
}

.TeamCard {
  width: 15%;
  display: inline-flex !important;
  margin: 7px;
  border: none !important;
  border-radius: 25px;
}

.TeamCardBody {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.TeamItem {
  float: right;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  border: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
