
.TeamCard {
  width: 15%;
  display: inline-flex !important;
  margin: 7px;
  border: none !important;
  border-radius: 25px !important;
}

.TeamCardImage {
  width: 90%;
  height: 270px;
  padding: 15px;
  margin: auto;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

}

.TeamCardBody {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  background-color: white;
}