.TeamList {
  margin: auto;
  padding: 0px;
  width: 90%;
}

@media only screen and (min-width: 500px) and (max-width : 650px) {
  .SearchButtons button {
    display: none;;
  }
  .TeamSearch {
    width: 80% !important;
    padding: 10px;
  }
}