.TeamList {
  margin: auto;
  padding: 0px;
  width: 90%;
}

.SearchControls {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.TeamSearch {
  width: 40% !important;
  padding: 10px;
}

.SearchButtons button {
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
  color: black;
}

.SearchButtons button:active,
.SearchButtons button:focus,
.SearchButtons button:hover {
  color: black !important;
  box-shadow: none;
}

@media only screen and (min-width: 500px) and (max-width : 650px) {
  .SearchButtons button {
    display: none;;
  }
  .TeamSearch {
    width: 80% !important;
    padding: 10px;
  }
}