.TeamList {
  margin: auto;
  padding: 0px;
  width: 90%;
}

@media only screen and (max-width : 750px) {
  .SearchButtons button {
    display: none;
  }
  .TeamSearch {
    width: 80% !important;
    padding: 10px;
  }
}